<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>香香编程-投票项目</title>
</head>
<body>
<main class="main">
    <form method="post" action="/login">
        <input type="text" name="name" placeholder="Your name">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Sign in</button>
    </form>
</main>
</body>
</html>