<!doctype html>
<html lang="en">
<head>
    <title>香香编程-投票项目</title>
</head>
<body>
<main>
    <h2>title:{{.vote.Vote.Title}}</h2>
    <h2>id:{{.vote.Vote.Id}}</h2>
    <h2>UserId:{{.vote.Vote.UserId}}</h2>
    <h2>Type:{{.vote.Vote.Type}}</h2>
    <h2>Status:{{.vote.Vote.Status}}</h2>


    <form method="post" action="/vote">
        <input type="hidden" name="vote_id" value="{{.vote.Vote.Id}}">
        {{range $key,$value := .vote.Opt}}
        <input type="checkbox" name="opt[]" id="customCheck{{$key}}" value="{{$value.Id}}">
        <label  for="customCheck{{$key}}">{{$value.Name}}</label>
        {{end}}
        <button type="submit">Submit</button>
    </form>

</main>
<script>
    $(document).ready(function(){
        loadData()
    });
    function loadData() {
        $.ajax({
            //请求资源路径
            url:"/votes",
            //请求参数
            data:{
            },
            //请求方式
            type:"get",
            //数据形式
            dataType:"json",
            //请求成功后调用的回调函数
            success:function (data) {
                console.log(data)
                for (const datum of data.data) {
                    $("#vote_table").append('<a href=\"/vote?id='+datum.Id+'\">'+datum.Title+'</a></h2><br>');
                }
            },
            //请求失败后调用的回调函数
            error:function () {
                alert("数据加载失败！")
            }
        });
    }
</script>
</body>
</html>